@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --background:var(--black) ;
    --text:var(--white);
    --textdark:#ffffff;
    --wheat:#0088FF;
    --darker:#9e9e9e66;
    --white:#ffffff;
    --black:#000000;
    --grey:#9e9e9e66; 
    --medium-blue:#245edb;
    --light-blue:#0c8dea;
}

:root {  
    touch-action: pan-x pan-y;
    --animate-delay: 0.5s;
    --animate-duration: 800ms;
  }
  
html{
    scroll-behavior: smooth;
    scrollbar-width: none;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

@font-face {
    font-family: xpTahoma;
    src: url(../essentials/fonts/windows-xp-tahoma.ttf);
}

html{
    scroll-behavior: smooth;
    cursor: url(../essentials/cursors/cursor_basic.cur), default !important;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

.default{
    cursor: url(../essentials/cursors/cursor_basic.cur), default !important;
    /* cursor: url(../essentials/cursors/cursor_wait.cur), wait !important; */
}
.cd{
    cursor: url(../essentials/cursors/cursor_cd.cur), auto !important;
}
.help{
    cursor: url(../essentials/cursors/cursor_help.cur), help !important;
}
.pointer{
    cursor: url(../essentials/cursors/cursor_pointer.cur), pointer !important;
}
.wait{
    cursor: url(../essentials/cursors/cursor_wait.cur), wait !important;
}

body{
    cursor: url(../essentials/cursors/cursor_basic.cur), default;
    overflow: hidden;
    font-family: 'xpTahoma';
    color:var(--text);
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

#fixed-background{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: url(../essentials/images/wallpaper.webp);
    background-size: cover;
}

.fixed-background-splash{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-size: cover;
}

.welcome-header{
    position: absolute;
    height: 10vh;
    width: 100vw;
    background-color: #00309c;
}

#top-header{
    top: 0;
    z-index: 10;
}

#top-header:after {
    content:"";background: linear-gradient(90deg, rgba(76,114,209,1) 0%, rgba(196,218,254,1) 23%, rgba(141,173,254,1) 50%, rgba(118,152,229,1) 79%, rgba(95,131,221,1) 100%);
    display: block;
    height:2px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#bottom-header{
    bottom: 0;
    z-index: 10;
}

#bottom-header::before{
    content:"";
    background: linear-gradient(90deg, rgba(31,75,177,1) 0%, rgba(249,150,54,1) 23%, rgba(249,150,54,1) 50%, rgba(1,51,153,1) 69%);
    display: block;
    height:2px;
    width: 100%;
    position: absolute;
    top: 0;
}

.welcome-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial;
    position: relative;
    font-size: 8vh;
    font-weight: 800;
    font-style: italic;
    height: 100vh;
    width: 100%;
    text-shadow: 3px 3px 0px #3151b5;
    background-image: radial-gradient(
        farthest-corner at 0px 0px,
        #7fa1e8 0%,
        #5a7edc 30%
      );
      letter-spacing: -1px;
    }

.welcome-text span{
    transform: translateX(50%);
}

audio{
    display: none;
}

iframe{
    transition: all 1s ease-in-out;
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
}

.button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }

.frame-bg-img{
    width: 120%;
    height: 120%;
    background: url(../essentials/images/wallpaper.webp);
    background-size: cover;
    opacity: 0.5;
    position: absolute;
    z-index: 0;
    filter: blur(100px);
}

.xp-container{
    transition: all 1s ease-in-out;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-pane-container{
    width: 100%;
    height: 100%;
    background-image: radial-gradient(
        farthest-corner at 0px 0px,
        #7fa1e8 0%,
        #5a7edc 30%
        );
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: center;
}

.shutdown-container{
    padding-right: 45%;
}

.login-pane{
    padding: 1vh;
    display: flex;
    flex-direction: column;
    /* flex-shrink: 0; */
    background-color: transparent;
    height: 100%;
    width: 100%;
    align-content: flex-end;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.shutdown-pane{    
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: center;
}

.login-pane-logo{
    height: 15vh;
    margin-bottom: 3vh;
}

.left-pane-text{
    font-family: Arial;
    font-size: 3vh;
}

.right-login-pane{    
    display: flex;
    background-color: transparent;
    align-content: center;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.login-user{
    gap: 2vh;
    font-family: Arial;
    font-size: 2.5vh;
    font-weight: 550;
    background-color: #5a7edc;
    width: 50%;
    padding: 1.5vh;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgba(18, 55, 158, 0) 0%, rgba(81, 115, 217, 0) 100%);
    transition: all 0.5s ease-in-out;
    border-right: none;
}

.separator-line{
    background: rgb(90,126,220);
    background: linear-gradient(0deg, rgba(90,126,220,1) 0%, rgba(141,173,254,1) 50%, rgba(90,126,220,1) 100%);
    width: 0.5vh;
    margin: 0% 3%;
    height: 80%;
}

img.user-icon{
    height: 8vh;
    border-radius: 5px;
    border: 2px solid rgb(161, 161, 161);
}

.login-user:hover{
    border: 1px solid grey;
    border-right: none;
    background: rgb(18,55,158);
    background: linear-gradient(90deg, rgba(18,55,158,1) 0%, rgba(81, 115, 217, 0) 100%);
}
    
.start-menu-full{
    position: absolute;
    z-index: 800;
    width: 40%;
    height: 70vh;
    bottom: 5vh;
    left: 0;
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 1px 1px 20px rgba(0, 25, 250, 0.308);
    border: 2px solid #0b50a7;
}

.start-user{
    transform: scale(1);
    pointer-events: none;
}

.dimBack{
    opacity: 0.5;
}

.start-menu-header{
    border-radius: 10px 10px 0px 0px;
    top: 0; 
    height: 20%;
    width: 100%;
    background: rgb(106,164,230);
    background: linear-gradient(180deg, rgba(106,164,230,1) 0%, rgba(16,97,204,1) 9%, rgba(56,135,230,1) 87%, rgba(41,120,218,1) 95%);
}

.start-menu-header:after {
    content:"";
    background: rgb(63,136,225);
    background: linear-gradient(90deg, rgba(63,136,225,0) 0%, rgba(249,134,27,1) 50%, rgba(27,111,220,0) 87%);
    display: block;
    height:2px;
    width: 100%;
    position: absolute;
}

.displayNone{
    display: none;
}

.start-menu-container{
    height: 100%;
    width: 100%;
    display: flex;
}

.start-menu-container-left{
    background-color: #ffffff;
    width: 50%;
    height: 100%;
}

.start-menu-container-right{
    /* padding-top: 1vh; */
    background-color: #d3e5fa;
    overflow: hidden;
    width: 50%;
    height: 100%;
}

.start-menu-footer{
    /* position: absolute;
    bottom:0; */
    height: 15%;
    width: 100%;
    background: rgb(63,136,225);
background: linear-gradient(180deg, rgba(63,136,225,1) 0%, rgba(64,138,228,1) 9%, rgba(27,111,220,1) 87%, rgba(14,95,203,1) 95%);
}

.footer-button-container, .footer-button{
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    overflow: hidden;
}

img.footer-button-image{
    height: 5vh;
    margin-right: 1vh;
    transition: all 0.5s ease-in-out;
}

.footer-button{
    transition: all 0.5s ease-in-out;
    width: max-content;
    padding: 0vh 2vh;
    font-size: 3vh;
}

.footer-button:hover{
    /* background-color: #245edb; */
}

.footer-button:hover{
    filter: brightness(1.1);
}

.start-menu-container-left{
    display: flex;
    flex-direction: column;
}

.start-menu-left-item{
    font-size: 3vh;
    color: black;
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0vh;
    padding: 1vh 2vh;
    transition: 0.1s all ease-in-out;
}

.start-menu-left-item:hover{
    background-color: #1364ce;
    color: white;
}

.start-menu-left-item img{
    height: 6vh;
    padding-right: 1vh;
}

.all-programs-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

.start-menu-left-item-programs{
    font-weight: 600;
    position: relative;
    font-size: 3vh;
    padding: 1vh 3vh;
    display: flex;
    align-items: center;
    align-content: flex-end;
    justify-content: center;
}

.start-menu-left-item-programs img{
    height: 4vh;
    margin-left: 1vh;
}

.start-menu-left-item-programs::before{
    opacity: 0.5;
    content:"";
    background: linear-gradient(90deg, rgb(255, 255, 255) 10%, rgb(51, 51, 51) 50%, rgb(255, 255, 255) 90%);
    display: block;
    height:2px;
    width: 100%;
    position: absolute;
    top: 0;
}


.start-menu-right-item{
    font-size: 3vh;
    font-weight: 400;
    color: black;
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0vh;
    padding: 1vh 2vh;
    transition: 0.1s all ease-in-out;
}

.start-menu-right-item img{
    height: 5vh;
    padding-right: 1vh;
}

.start-menu-right-item:hover{
    background-color: #0a246a;
    color: white;
}

#start-menu{
    display: flex;
    bottom: 0;
    position: fixed;
    width: 100vw;
    height: 5vh;
    z-index: 999;
    overflow: hidden;
    background:linear-gradient(to bottom, var(--medium-blue) 0%, #3f8cf3 9%, var(--medium-blue) 18%, var(--medium-blue) 92%, #333 100%) center/cover no-repeat;
}

ul{
    display: flex;
    align-items: center;
    gap: 1rem;
}

#start-menu img{
    height: 100%;
    transition: 0.5s all ease-in-out;
}

#start-menu img:hover{
    filter: brightness(1.2);
}

.taskbar-apps{
    /* background-color: red; */
    width: 80vw;
    overflow-x:hidden;
    display: flex;
    gap: 2px;
}

a{
    cursor: url(../essentials/cursors/cursor_pointer.cur), pointer !important;
    text-decoration: none;
}

.task{
    font-size: 2.5vh;
    display: flex;
    margin: 3px 0px;
    padding: 0px 0.5vw;
    min-width: 20vh;
    width: auto;
    border-radius: 4px;
    align-items: center;
    background-color: rgb(60, 129, 243) !important;
    box-shadow: rgba(0, 0, 0, 0.3) -1px 0px inset, rgba(255, 255, 255, 0.2) 1px 1px 1px inset !important;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) -1px 0px inset, rgba(255, 255, 255, 0.2) 1px 1px 1px inset !important;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) -1px 0px inset, rgba(255, 255, 255, 0.2) 1px 1px 1px inset !important;
}

.focused-task{
    background-color: rgb(30, 82, 183) !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 1px 1px inset, rgba(0, 0, 0, 0.7) 1px 0px 1px inset !important;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 1px 1px inset, rgba(0, 0, 0, 0.7) 1px 0px 1px inset !important;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 1px 1px inset, rgba(0, 0, 0, 0.7) 1px 0px 1px inset !important;
}

.normal-task{
    /* background-color: rgb(60, 129, 243) !important;
    box-shadow: rgba(0, 0, 0, 0.3) -1px 0px inset, rgba(255, 255, 255, 0.2) 1px 1px 1px inset !important;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) -1px 0px inset, rgba(255, 255, 255, 0.2) 1px 1px 1px inset !important;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) -1px 0px inset, rgba(255, 255, 255, 0.2) 1px 1px 1px inset !important; */
}

img#task-icon{
    margin-inline: 5px;
    height: 2vh;
    /* width: 20px; */
}

.taskbar-right{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vh;
    border-left: 2px solid #22bce7;
    background:linear-gradient(to bottom, #17b6f2 0%, #119dee 9%, #1390ea 18%, #0e9fea 92%, #0c64cc 100%) center/cover no-repeat;
    width: fit-content;
    padding: 0px 10px;
    height: 100%;
    right: 0;
}

.window{
    top: 10vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 10vw;
    width: 50vw;
    overflow: hidden;
    height: 60vh;
    background-color: #fdfefa;
    z-index: 200;
    border: 2px solid #002ad9;
    border-radius: 10px 10px 0px 0px;
}

.window-header{
    user-select: none;
    position: relative;
    padding: 2px 4px;
    box-sizing: border-box;
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:linear-gradient(to bottom, var(--medium-blue) 0%, #3f8cf3 9%, var(--medium-blue) 18%, var(--medium-blue) 92%, #333 100%) center/cover no-repeat;
}

.window-header-left{
    display: flex;
    align-items: center;
}

.window-header-left img{
    height: 3vh;
    /* width: 6vh; */
    margin: 0px 0.5vh;
}

.window-header-right img{
    height: 80%;
}

.window-header-right #close{
    transition: 0.2s all ease-in-out;
}

.glowOnHover:hover{
    filter: brightness(1.2);
    user-select: none;
}

.disabled{
    filter: grayscale(100);
    cursor: url(../essentials/cursors/cursor_disabled.cur), not-allowed !important;
}

.clickDisabled{
    cursor: url(../essentials/cursors/cursor_disabled.cur), not-allowed !important;
}

#window-title{
    font-size: 2.5vh;
    font-weight: 500;
    text-shadow: 1px 1px 0px #000000;
}

.window-toolbar{
    width: 100%;
    background-color: #efebde;
    color: black;
    overflow: hidden;
    padding: 1vh 0.5vh;
    box-sizing: border-box;
    border-bottom: 1px solid #cac6af;
}

ul.window-toolbar{
    display: flex;
    align-items: center;
    justify-content: normal;
    background-color: #efebde;
    padding-left: 1vh;
}

.window-toolbar li{
    display: flex;
    align-items: center;
    justify-content: center;
    /* disabled */
    /* opacity: 0.5; */
    height: 100%;
    font-size: 2.5vh;
    text-align: center;
}

.resumeNewTab{
    margin-right: 1vh;
    color: blue;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.second-toolbar{
    position: relative;
    height: 8vh;
    width: 100%;
    padding: 5px 0px;
    display: flex;
    background-color: #efeede;
    overflow: hidden;
    border-bottom: 1px solid #cac6af;
}

.second-toolbar-1, .second-toolbar-2{
    border-right: 1px solid #cac6af;
    height: 100%;
    /* background-color: red; */
    align-items: center;
    justify-content: center;
    display: flex;
}

.second-toolbar-tool{
    padding: 5px 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.second-toolbar-tool img{
    height: 50%;
}

.second-toolbar-tool .title{
    color: black;
    font-size: 2.5vh;
    padding: 2px;
    text-align: center;
}

.folder-tab{
    color: black;
    height: 100%;
    width: 100%; 
} 

.folder-tab .sections .title{
    padding: 1% 0% 0% 1%;
    font-weight: bold;
    border: 10px solid linear-gradient(90deg, rgba(93,166,255,1) 0%, rgba(93,166,255,1) 55%, rgba(255,255,255,0) 100%);
}

.folder-tab .title-underline{
    width: 50%;
    height: 2px;
    background: rgb(93,166,255);
    background: linear-gradient(90deg, rgba(93,166,255,1) 0%, rgba(93,166,255,1) 55%, rgba(255,255,255,0) 100%);
}

.window textarea{
    /* font-family: 'Tahoma'; */
    font-size: 2vh;
    overflow-x: hidden;
    border-radius: 0;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    resize: none; 
    outline: none;
    border-top: 1px solid #7b9ebd;
}

.fulldisplay{
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    height: 95vh !important;
    width: 100vw !important;
}

.outOfFocus{
    /* opacity: 0.9; */
    z-index: 200;
    filter: grayscale(10);
}

.inFocus{
    /* opacity: 0.9; */
    z-index: 700;
    display: flex !important;
    filter: grayscale(0);
}

.hidden-window{
    display: none !important;
}

.container{
    z-index: 50;
    height: 100vh;
    width: 100vw;
    position: relative;
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
}

.page{
    border: 0;
    outline: none;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.folder-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    padding: 1.5vh;
    margin: 1vh;
    top: 0;
    left: 0;
    position: absolute;
    /* background-color: red; */
    max-width: 100%;
    height: 90%;
    width: fit-content;
}

.folder{
    width: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 1vh;
    justify-content: center;
    /* padding: 1rem 0rem; */
}

.folder-container .folder-icon{
    pointer-events: none;
    height: 8vh;
}

.folder-icon{
    height: 7vh !important;
    width: 7vh;
}

.folder-icon::before {
    content: url("essentials/images/Exit.png"); 
    position: absolute;
    top: 0;
    left: 0;
}

#shortcut{
    position: absolute;
    left: 1vh;
    top: 3vh;
    width: 4vh;
}

.folder:hover{
    background-color: #afdeff98;
}

.folder .folder-title{
    pointer-events: none;
    font-size: 3vh;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 400;
    /* -webkit-text-stroke: 0.2px rgb(0, 0, 0); */
    text-stroke: 0.2px rgb(0, 0, 0); 
    text-shadow: 1px 1px 0px #000000;
}

.in-folder{    
    display: flex;
    position: relative;
    gap: 5px;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.in-folder .folder-title{
    color: #515252;
    font-size: 2.5vh;
    text-stroke: 0px rgb(0, 0, 0); 
    text-shadow: 0px 0px 0px #000000;
    padding-bottom: 10px;
}

.in-folder .folder{
    position: relative;
}

.in-folder .folder-sections{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 50%;
}

.in-folder .folders-in-section{
    display: flex;
    padding: 0px 5px;
    flex-wrap: wrap;
    gap: 1vw;
}

.folder-sections .section-head{
    margin: 5px 0px 10px 0px;
}

.section-head button.section-title{
    background: none;
    text-decoration: none;
    width: 70%;
    text-align: left;
    font-family: xpTahoma;
    font-size: 2.5vh;
    color: black;
    font-weight: 800;
    padding: 2px 10px;
}

.border-gradient {
    border: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
}

.border-gradient-purple {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-image-source: linear-gradient(90deg, rgba(92,158,247,1) 0%, rgba(233,237,252,1) 53%, rgba(255,255,255,1) 71%);
  }

.files-container{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.files-container .left-bar{
    flex-shrink: 0;
    width: 22.5vh;
    height: 100%;
    background-color: #667cd8;
    display: flex;
    flex-direction: column;
    padding:5px 0px;
    position: relative;
    overflow: hidden;
}

.left-bar .tab{
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 5px;
    padding: 5px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(199,211,247,1) 100%);
}

.dog-container{
    display: flex;
    box-sizing: border-box;
    padding: 1vh;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
}

.folder-dog{
    width: 60%;
    aspect-ratio: 1 / 1;
    bottom: 0;
    margin-bottom: 2vh;
    background: url("../essentials/images/rover-still.png");
    background-size: cover;
}

.folder-dog:hover{
    background: #667cd8;
    background: url("../essentials/images/rover-windows-xp.gif");
    background-size: cover;
}

.window-toolbar, .second-toolbar {
    flex-shrink: 0;
}

.in-folder {
    display: flex;
    position: relative;
    gap: 5px;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.tab img{
    height: 20px;
}

.tab-title{
    font-size: 2.5vh;
    font-weight: 600;
    color: #215dc6;
}

.heading{
    font-size: 40px;
    line-height: 45px;
    font-weight: 600;
}

#highlight-heading{
    color: red;
    font-size: 30px;
}

#heading-button-grid{
    display: flex;
    gap: 12px;
    font-size: 14px;
}

.heading-button{
    font-weight: 500;
    background-color: rgb(255, 255, 255);
    color: #000000;
    text-align: center;
    min-width: 80px;
    padding: 15px;
    border-radius: 10px;
}

#heading-desc{
    margin-top: 5px;
    font-size: 16px;
    line-height: 20px;
    width: 80%;
}

#project-grid{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1rem 0rem;
    gap: 1rem;
    justify-items: start;
    align-items: start;
    align-content: start;
}

#project-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 25%;
    min-height: 50vh; 
    max-width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #6a6a6a6f;
    transition: all 0.2s ease-in-out;
    /* background-size: 100vh; */
    /* background: url("https://picsum.photos/200"); */
}

#project-block:hover{
    /* transform: perspective(30deg);
    transform: rotate3d(0, 0, 1, 180deg); */
    /* transform: rotate(180deg); */
}

img#project-image{
    height: 50%;
    width: 50%;
    border-radius: 10px;
}

#project-info{
    padding: 5px 0px;
}

#project-title{
    padding: 5px 0px;
    /* font-weight: 600; */
    text-align: center;
    /* text-transform:uppercase; */
    /* font-size: 1.4em; */
    font-size: 1em;
    font-weight: 400;
}

#project-desc{
    /* font-size: 0.7em; */
    font-size: 0px;
    line-height: 1.5em;
    text-transform: none;
}

@media screen and (orientation: portrait)  {

}
