@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --background:var(--black) ;
    --text:var(--white);
    --textdark:#ffffff;
    --wheat:#0088FF;
    --darker:#9e9e9e66;
    --white:#ffffff;
    --black:#000000;
    --grey:#9e9e9e66; 
    --medium-blue:#245edb;
    --light-blue:#0c8dea;
}

@font-face {
    font-family: xpTahoma;
    src: url(../essentials/fonts/windows-xp-tahoma.ttf);
}

html{
    scroll-behavior: smooth;
    cursor: url(../essentials/cursors/cursor_basic.cur), default !important;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

.default{
    cursor: url(../essentials/cursors/cursor_basic.cur), default !important;
    /* cursor: url(../essentials/cursors/cursor_wait.cur), wait !important; */
}
.cd{
    cursor: url(../essentials/cursors/cursor_cd.cur), auto !important;
}
.help{
    cursor: url(../essentials/cursors/cursor_help.cur), help !important;
}
.pointer{
    cursor: url(../essentials/cursors/cursor_pointer.cur), pointer !important;
}
.wait{
    cursor: url(../essentials/cursors/cursor_wait.cur), wait !important;
}

body{
    overflow: hidden;
    font-family: 'xpTahoma';
    color:var(--text);
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

#fixed-background{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: url(../essentials/images/wallpaper.webp);
    background-size: cover;
}

#start-menu{
    display: flex;
    bottom: 0;
    position: fixed;
    width: 100vw;
    height: 5vh;
    z-index: 999;
    overflow: hidden;
    background:linear-gradient(to bottom, var(--medium-blue) 0%, #3f8cf3 9%, var(--medium-blue) 18%, var(--medium-blue) 92%, #333 100%) center/cover no-repeat;
}

ul{
    display: flex;
    align-items: center;
    gap: 1rem;
}

#start-menu img{
    height: 100%;
    transition: 0.5s all ease-in-out;
}

#start-menu img:hover{
    filter: brightness(1.2);
}

.taskbar-apps{
    /* background-color: red; */
    width: 80vw;
    display: flex;
    gap: 2px;
}

a{
    cursor: url(../essentials/cursors/cursor_pointer.cur), pointer !important;
    text-decoration: none;
}

.task{
    font-size: 2.5vh;
    display: flex;
    margin: 3px 0px;
    padding: 0px 0.5vw;
    min-width: 120px;
    max-width: max-content;
    border-radius: 4px;
    align-items: center;
    background-color: rgb(60, 129, 243) !important;
    box-shadow: rgba(0, 0, 0, 0.3) -1px 0px inset, rgba(255, 255, 255, 0.2) 1px 1px 1px inset !important;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) -1px 0px inset, rgba(255, 255, 255, 0.2) 1px 1px 1px inset !important;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) -1px 0px inset, rgba(255, 255, 255, 0.2) 1px 1px 1px inset !important;
}

.focused-task{
    background-color: rgb(30, 82, 183) !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 1px 1px inset, rgba(0, 0, 0, 0.7) 1px 0px 1px inset !important;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 1px 1px inset, rgba(0, 0, 0, 0.7) 1px 0px 1px inset !important;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 1px 1px inset, rgba(0, 0, 0, 0.7) 1px 0px 1px inset !important;
}

.normal-task{
    /* background-color: rgb(60, 129, 243) !important;
    box-shadow: rgba(0, 0, 0, 0.3) -1px 0px inset, rgba(255, 255, 255, 0.2) 1px 1px 1px inset !important;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) -1px 0px inset, rgba(255, 255, 255, 0.2) 1px 1px 1px inset !important;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) -1px 0px inset, rgba(255, 255, 255, 0.2) 1px 1px 1px inset !important; */
}

img#task-icon{
    margin-inline: 5px;
    height: 2vh;
    /* width: 20px; */
}

.taskbar-right{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vh;
    border-left: 2px solid #22bce7;
    background:linear-gradient(to bottom, #17b6f2 0%, #119dee 9%, #1390ea 18%, #0e9fea 92%, #0c64cc 100%) center/cover no-repeat;
    width: fit-content;
    padding: 0px 10px;
    height: 100%;
    right: 0;
}

.window{
    top: 10vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 10vw;
    width: 50vw;
    overflow: hidden;
    height: 60vh;
    background-color: #fdfefa;
    z-index: 200;
    border: 2px solid #002ad9;
    border-radius: 10px 10px 0px 0px;
}

.window-header{
    user-select: none;
    padding: 2px 4px;
    box-sizing: border-box;
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:linear-gradient(to bottom, var(--medium-blue) 0%, #3f8cf3 9%, var(--medium-blue) 18%, var(--medium-blue) 92%, #333 100%) center/cover no-repeat;
}

.window-header-left{
    display: flex;
    align-items: center;
}

.window-header-left img{
    height: 3vh;
    /* width: 6vh; */
    margin: 0px 0.5vh;
}

.window-header-right img{
    height: 80%;
}

.window-header-right #close{
    transition: 0.2s all ease-in-out;
}

.glowOnHover:hover{
    filter: brightness(1.2);
    user-select: none;
}

.disabled{
    filter: grayscale(100);
    cursor: url(../essentials/cursors/cursor_disabled.cur), not-allowed !important;
}

.clickDisabled{
    cursor: url(../essentials/cursors/cursor_disabled.cur), not-allowed !important;
}

#window-title{
    font-size: 2.5vh;
    font-weight: 500;
    text-shadow: 1px 1px 0px #000000;
}

.window-toolbar{
    width: 100%;
    background-color: #efebde;
    color: black;
    overflow: hidden;
    padding: 1vh 0.5vh;
    box-sizing: border-box;
    border-bottom: 1px solid #cac6af;
}

ul.window-toolbar{
    display: flex;
    align-items: center;
    justify-content: normal;
    background-color: #efebde;
    padding-left: 1vh;
}

.window-toolbar li{
    display: flex;
    align-items: center;
    justify-content: center;
    /* disabled */
    /* opacity: 0.5; */
    height: 100%;
    font-size: 2.5vh;
    text-align: center;
}

.second-toolbar{
    height: 8vh;
    width: 100%;
    padding: 5px 0px;
    display: flex;
    background-color: #efeede;
    overflow: hidden;
    border-bottom: 1px solid #cac6af;
}

.second-toolbar-1, .second-toolbar-2{
    border-right: 1px solid #cac6af;
    height: 100%;
    /* background-color: red; */
    align-items: center;
    justify-content: center;
    display: flex;
}

.second-toolbar-tool{
    padding: 5px 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.second-toolbar-tool img{
    height: 50%;
}

.second-toolbar-tool .title{
    color: black;
    font-size: 2.5vh;
    padding: 2px;
    text-align: center;
}

.folder-tab{
    color: black;
    height: 100%;
    width: 100%; 
} 

.folder-tab .sections .title{
    padding: 1% 0% 0% 1%;
    font-weight: bold;
    border: 10px solid linear-gradient(90deg, rgba(93,166,255,1) 0%, rgba(93,166,255,1) 55%, rgba(255,255,255,0) 100%);
}

.folder-tab .title-underline{
    width: 50%;
    height: 2px;
    background: rgb(93,166,255);
    background: linear-gradient(90deg, rgba(93,166,255,1) 0%, rgba(93,166,255,1) 55%, rgba(255,255,255,0) 100%);
}

.window textarea{
    /* font-family: 'Tahoma'; */
    font-size: 2vh;
    overflow-x: hidden;
    border-radius: 0;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    resize: none; 
    outline: none;
    border-top: 1px solid #7b9ebd;
}

.fulldisplay{
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    height: 95vh !important;
    width: 100vw !important;
}

.outOfFocus{
    /* opacity: 0.9; */
    z-index: 200;
    filter: grayscale(10);
}

.inFocus{
    /* opacity: 0.9; */
    z-index: 700;
    display: flex !important;
    filter: grayscale(0);
}

.hidden-window{
    display: none !important;
}

.container{
    z-index: 50;
    height: 100vh;
    width: 100vw;
    position: relative;
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
}

.page{
    border: 0;
    outline: none;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.folder-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    padding: 1rem;
    top: 0;
    left: 0;
    position: absolute;
    /* background-color: red; */
    max-width: 100%;
    height: 90%;
    width: fit-content;
}

.folder{
    width: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 5px;
    justify-content: center;
    /* padding: 1rem 0rem; */
}

.folder-container .folder-icon{
    pointer-events: none;
    height: 8vh;
}

.folder-icon{
    height: 7vh !important;
    width: 7vh;
}

.folder-icon::before {
    content: url("essentials/images/Exit.png"); 
    position: absolute;
    top: 0;
    left: 0;
}

#shortcut{
    position: absolute;
    left: 8px;
    width: 4vh;
}

.folder:hover{
    background-color: #afdeff98;
}

.folder .folder-title{
    pointer-events: none;
    font-size: 3vh;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 400;
    /* -webkit-text-stroke: 0.2px rgb(0, 0, 0); */
    text-stroke: 0.2px rgb(0, 0, 0); 
    text-shadow: 1px 1px 0px #000000;
}

.in-folder{
    display: flex;
    padding: 10px;
    gap: 15px;
    /* background-color: yellowgreen; */
}

.in-folder{    
    display: flex;
    padding: 10px;
    gap: 15px;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.in-folder .folder-title{
    color: #515252;
    font-size: 2.5vh;
    text-stroke: 0px rgb(0, 0, 0); 
    text-shadow: 0px 0px 0px #000000;
}

.in-folder .folder{
    position: relative;
}

.files-container{
    width: 100%;
    height: 100%;
    display: flex;
}

.files-container .left-bar{
    width: 30vh;
    height: 100%;
    background-color: #667cd8;
    display: flex;
    flex-direction: column;
    padding:5px 0px;
}

.left-bar .tab{
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 5px;
    padding: 5px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(199,211,247,1) 100%);
}

.tab img{
    height: 20px;
}

.tab-title{
    font-weight: 600;
    color: #215dc6;
}

.heading{
    font-size: 40px;
    line-height: 45px;
    font-weight: 600;
}

#highlight-heading{
    color: red;
    font-size: 30px;
}

#heading-button-grid{
    display: flex;
    gap: 12px;
    font-size: 14px;
}

.heading-button{
    font-weight: 500;
    background-color: rgb(255, 255, 255);
    color: #000000;
    text-align: center;
    min-width: 80px;
    padding: 15px;
    border-radius: 10px;
}

#heading-desc{
    margin-top: 5px;
    font-size: 16px;
    line-height: 20px;
    width: 80%;
}

#project-grid{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1rem 0rem;
    gap: 1rem;
    justify-items: start;
    align-items: start;
    align-content: start;
}

#project-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 25%;
    min-height: 50vh; 
    max-width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #6a6a6a6f;
    transition: all 0.2s ease-in-out;
    /* background-size: 100vh; */
    /* background: url("https://picsum.photos/200"); */
}

#project-block:hover{
    /* transform: perspective(30deg);
    transform: rotate3d(0, 0, 1, 180deg); */
    /* transform: rotate(180deg); */
}

img#project-image{
    height: 50%;
    width: 50%;
    border-radius: 10px;
}

#project-info{
    padding: 5px 0px;
}

#project-title{
    padding: 5px 0px;
    /* font-weight: 600; */
    text-align: center;
    /* text-transform:uppercase; */
    /* font-size: 1.4em; */
    font-size: 1em;
    font-weight: 400;
}

#project-desc{
    /* font-size: 0.7em; */
    font-size: 0px;
    line-height: 1.5em;
    text-transform: none;
}

@media screen and (orientation: portrait)  {

}
